<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>个人档案</title>
</head>
<body>
    <section class="neadmin-main" ne-role="neadmin-main">
       
    </section>
</body>
</html>
